<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 1 : </b>
       Importing Libraries
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 2 : </b>
       Load Dataset and Deal with missing values 
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [2]:
dataset = pd.read_csv('house-votes-84-data.txt')

In [3]:
dataset

     republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0    republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1      democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2      democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3      democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4      democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y
..          ... .. ..  ..  ..  ..  ..  ..  ..  ..  .. ..  ..  ..  ..  ..  ..
429  republican  n  n   y   y   y   y   n   n   y   y  n   y   y   y   n   y
430    democrat  n  n   y   n   n   n   y   y   y   y  n   n   n   n   n   y
431  republican  n  ?   n   y   y   y   n   n   n   n  y   y   y   y   n   y
432  republican  n  n   n   y   y   y   ?   ?   ?   ?  n   y   y   y   n   y
433  republican  n  y   n   y   y   y   n   n   n   y  n   y   y   y   ?   n

[434 rows x 17 columns]

In [4]:
column = ['Class Name' , 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban' , 'aid-to-nicaraguan-contras' , 'mx-missile' , 'immigration' , 'synfuels-corporation-cutback' , 'education-spending' , 'superfund-right-to-sue' , 'crime' , 'duty-free-exports' , 'export-administration-act-south-africa']
col_names = ['handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban' , 'aid-to-nicaraguan-contras' , 'mx-missile' , 'immigration' , 'synfuels-corporation-cutback' , 'education-spending' , 'superfund-right-to-sue' , 'crime' , 'duty-free-exports' , 'export-administration-act-south-africa']

In [5]:
dataset.columns = column
dataset

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
1,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
2,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
3,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
4,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
430,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
431,republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
432,republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
433,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [6]:
print(dataset.shape[0])

434

In [7]:
dataset_array = dataset.to_numpy()

In [8]:
dataset_array

array([['republican', 'n', 'y', ..., 'y', 'n', '?'],
       ['democrat', '?', 'y', ..., 'y', 'n', 'n'],
       ['democrat', 'n', 'y', ..., 'n', 'n', 'y'],
       ...,
       ['republican', 'n', '?', ..., 'y', 'n', 'y'],
       ['republican', 'n', 'n', ..., 'y', 'n', 'y'],
       ['republican', 'n', 'y', ..., 'y', '?', 'n']], dtype=object)

In [9]:
len(dataset_array)

434

In [10]:
print(dataset_array[0][0])

republican

In [11]:
replaceList = []

for i in range(len(dataset_array)):
    counterY = 0
    counterN = 0
    for j in range(len(dataset_array[0])):
        if dataset_array[i][j] == 'y':
            counterY = counterY + 1
        elif dataset_array[i][j] == 'n':
            counterN = counterN + 1
    if counterY > counterN:
        replaceList.append('y')
    else:
        replaceList.append('n')
        

for i in range(len(dataset_array)):
    for j in range(len(dataset_array[0])):
        if dataset_array[i][j] == '?':
            dataset_array[i][j] = replaceList[i]


dataset = pd.DataFrame(dataset_array, columns = column)
dataset

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,n
1,democrat,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n
2,democrat,n,y,y,n,n,y,n,n,n,n,y,n,y,n,n,y
3,democrat,y,y,y,n,y,y,n,n,n,n,y,y,y,y,y,y
4,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
430,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
431,republican,n,y,n,y,y,y,n,n,n,n,y,y,y,y,n,y
432,republican,n,n,n,y,y,y,y,y,y,y,n,y,y,y,n,y
433,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,y,n

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 3 : </b>
       Define X and y
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [12]:
X = dataset[col_names]

In [13]:
X

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,n
1,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n
2,n,y,y,n,n,y,n,n,n,n,y,n,y,n,n,y
3,y,y,y,n,y,y,n,n,n,n,y,y,y,y,y,y
4,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
430,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
431,n,y,n,y,y,y,n,n,n,n,y,y,y,y,n,y
432,n,n,n,y,y,y,y,y,y,y,n,y,y,y,n,y
433,n,y,n,y,y,y,n,n,n,y,n,y,y,y,y,n

In [14]:
X.shape

(434, 16)

In [15]:
y = dataset[['Class Name']]

In [16]:
y

     Class Name
0    republican
1      democrat
2      democrat
3      democrat
4      democrat
..          ...
429  republican
430    democrat
431  republican
432  republican
433  republican

[434 rows x 1 columns]

In [17]:
y.shape

(434, 1)

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 4 : </b>
       Split the data into train and test
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [18]:
indeces = len(X) #434

In [19]:
splitIndex = int(np.ceil(0.25 * indeces))

In [20]:
splitIndex

109

In [21]:
X_train = X.iloc[0:splitIndex , :].values

In [22]:
X_train

array([['n', 'y', 'n', ..., 'y', 'n', 'n'],
       ['n', 'y', 'y', ..., 'y', 'n', 'n'],
       ['n', 'y', 'y', ..., 'n', 'n', 'y'],
       ...,
       ['n', 'n', 'n', ..., 'y', 'n', 'n'],
       ['y', 'n', 'y', ..., 'n', 'y', 'n'],
       ['y', 'n', 'y', ..., 'n', 'y', 'n']], dtype=object)

In [23]:
print(X_train.shape)
X_train = pd.DataFrame(X_train , columns = col_names)
X_train

(109, 16)

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,n
1,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n
2,n,y,y,n,n,y,n,n,n,n,y,n,y,n,n,y
3,y,y,y,n,y,y,n,n,n,n,y,y,y,y,y,y
4,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,y,y,y,n,n,n,n,y,y,n,y,n,n,n,y,y
105,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
106,n,n,n,n,n,n,n,n,n,n,n,n,n,y,n,n
107,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n
108,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n

In [24]:
y_train = y.iloc[0:splitIndex , :].values
y_train = pd.DataFrame(y_train , columns = ['Class Name'])
y_train

     Class Name
0    republican
1      democrat
2      democrat
3      democrat
4      democrat
..          ...
104    democrat
105  republican
106  republican
107    democrat
108    democrat

[109 rows x 1 columns]

In [25]:
y_train.shape

(109, 1)

In [26]:
X_test = X.iloc[splitIndex: , :].values
X_test = pd.DataFrame(X_test , columns = col_names)
X_test

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
1,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
2,n,n,y,n,n,y,y,y,n,y,n,n,n,n,y,n
3,n,n,n,y,y,y,n,n,n,y,n,y,y,y,n,n
4,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
321,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
322,n,y,n,y,y,y,n,n,n,n,y,y,y,y,n,y
323,n,n,n,y,y,y,y,y,y,y,n,y,y,y,n,y
324,n,y,n,y,y,y,n,n,n,y,n,y,y,y,y,n

In [27]:
X_test

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y
1,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
2,n,n,y,n,n,y,y,y,n,y,n,n,n,n,y,n
3,n,n,n,y,y,y,n,n,n,y,n,y,y,y,n,n
4,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
321,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
322,n,y,n,y,y,y,n,n,n,n,y,y,y,y,n,y
323,n,n,n,y,y,y,y,y,y,y,n,y,y,y,n,y
324,n,y,n,y,y,y,n,n,n,y,n,y,y,y,y,n

In [28]:
X_test.shape

(325, 16)

In [29]:
y_test = y.iloc[splitIndex: , :].values
y_test = pd.DataFrame(y_test , columns = ['Class Name'])
y_test

     Class Name
0      democrat
1    republican
2      democrat
3    republican
4      democrat
..          ...
320  republican
321    democrat
322  republican
323  republican
324  republican

[325 rows x 1 columns]

In [30]:
y_test.shape

(325, 1)

In [31]:
feature_array = X_train.to_numpy()
#print(feature_array)
print(feature_array[: , 1])
print(feature_array.shape)

['y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'n' 'y' 'y'
 'y' 'y' 'y' 'n' 'y' 'n' 'n' 'n' 'y' 'n' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y'
 'y' 'y' 'n' 'y' 'y' 'n' 'n' 'y' 'y' 'y' 'n' 'y' 'n' 'y' 'y' 'y' 'y' 'y'
 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'y' 'n' 'y' 'y'
 'n' 'n' 'y' 'y' 'y' 'y' 'n' 'n' 'n' 'n' 'n' 'n' 'n' 'n' 'n' 'y' 'n' 'n'
 'n' 'y' 'n' 'n' 'n' 'n' 'n' 'y' 'n' 'n' 'n' 'n' 'n' 'y' 'y' 'y' 'n' 'n'
 'n']
(109, 16)

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 5 : </b>
       Information Gain
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [32]:
""" This function calculate the information gain for only one feature """
def information_gain(featureDataFrame , colIndex , y_DataFrame):
    
    feature_array = featureDataFrame.to_numpy()
    #print(feature_array)
    feature = (feature_array[: , colIndex]).reshape(len(featureDataFrame) , 1)
    
    #print(feature)
    #print(feature.shape)
    
    #print("***********************************************")
    
    y = (y_DataFrame.to_numpy()).reshape(len(y_DataFrame) , 1)
    #print(y)
    
    H_parent = 0
    H_child1 = 0
    H_child2 = 0
    
    counter1 = 0 #To count how many number of democrat
    counter2 = 0 #To count how many number of republican
    for i in range(len(y)):
        if y[i] == "republican" :
            counter1 = counter1 + 1
        else:
            counter2 = counter2 + 1
            
    
            
    counterForYes1 = 0 #To count how many number of republican when the feature is yes
    counterForYes2 = 0 #To count how many number of democrat when the feature is yes
    for i in range(len(y)):
        if y[i] == "republican" and feature[i] == 'y':
            counterForYes1 = counterForYes1 + 1
        elif y[i] == "democrat" and feature[i] == 'y':
            counterForYes2 = counterForYes2 + 1
            
    if counterForYes1 == 0:
        H_child1 = (- ( counterForYes2 / (counterForYes1 + counterForYes2) * np.log2(counterForYes2 / (counterForYes1 + counterForYes2))))
    elif counterForYes2 == 0:
        H_child1 = (( -counterForYes1 / (counterForYes1 + counterForYes2) * np.log2(counterForYes1 / (counterForYes1 + counterForYes2))) )
    elif counterForYes1 == 0 and counterForYes2 == 0:
        H_child1 = 0
    else:
        H_child1 = (( -counterForYes1 / (counterForYes1 + counterForYes2) * np.log2(counterForYes1 / (counterForYes1 + counterForYes2))) - ( counterForYes2 / (counterForYes1 + counterForYes2) * np.log2(counterForYes2 / (counterForYes1 + counterForYes2))))
    
    
    counterForNo1 = 0 #To count how many number of republican when the feature is No
    counterForNo2 = 0 #To count how many number of democrat when the feature is No
    for i in range(len(y)):
        if y[i] == "republican" and feature[i] == 'n':
            counterForNo1 = counterForNo1 + 1
        elif y[i] == "democrat" and feature[i] == 'n':
            counterForNo2 = counterForNo2 + 1
            
    
    if counterForNo1 == 0:
        H_child2 = (- ( counterForNo2 / (counterForNo1 + counterForNo2) * np.log2(counterForNo2 / (counterForNo1 + counterForNo2))))
    elif counterForNo2 == 0:
         H_child2 = (( -counterForNo1 / (counterForNo1 + counterForNo2) * np.log2(counterForNo1 / (counterForNo1 + counterForNo2))) )
    elif counterForNo1 == 0 and counterForNo2 == 0:
        H_child2 = 0
    else:
         H_child2 = (( -counterForNo1 / (counterForNo1 + counterForNo2) * np.log2(counterForNo1 / (counterForNo1 + counterForNo2))) - ( counterForNo2 / (counterForNo1 + counterForNo2) * np.log2(counterForNo2 / (counterForNo1 + counterForNo2))))
    
    
    H_parent = (( -counter1 / (counter1 + counter2) * np.log2(counter1 / (counter1 + counter2))) - ( counter2 / (counter1 + counter2) * np.log2(counter2 / (counter1 + counter2))))
            
    
   
    gain = (float(H_parent) - float(H_child1) - float(H_child2))
    
    return gain

In [33]:
print(information_gain(X_train , 15 , y_train))

-0.8572245357463423

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 6 : </b>
       Find the best attribute
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [34]:
X_train

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,n
1,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n
2,n,y,y,n,n,y,n,n,n,n,y,n,y,n,n,y
3,y,y,y,n,y,y,n,n,n,n,y,y,y,y,y,y
4,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,y,y,y,n,n,n,n,y,y,n,y,n,n,n,y,y
105,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
106,n,n,n,n,n,n,n,n,n,n,n,n,n,y,n,n
107,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n
108,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,n

In [35]:
def bestAttribute(X_DataFrame , y_DataFrame):
    
    infoGain = [] #To store every information gain for all features
    
    for i in range(len(X_DataFrame.columns)):
        infoGain.append(information_gain(X , i , y))
    
    #print(infoGain)
    maxValue = 0.0
    index = 0
    bestFeature = ""
    
    for i in range(len(infoGain)):
        if maxValue < infoGain[i]:
            maxValue = infoGain[i]
            index = i
            #bestFeature = col_names[i]
    
    counter = 0
    for x in X_DataFrame.columns:
        if counter == i:
            bestFeature = x
            break
        else:
            counter = counter + 1
    
    return bestFeature , index

In [36]:
fea , inde = bestAttribute(X_train , y_train)
print(fea , " " , inde)

export-administration-act-south-africa   3

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 7 : </b>
       Create the Decision Tree
 </p>
</div>

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 7.1 : </b>
       Create Node Class
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [37]:
class Node:
    def __init__(self):
        self.left = None
        self.right = None
        self.attribute = ""
        self.value = ""
        self.classDemocrat = 0
        self.classRepublican = 0
        self.label = None
    
    def addNode(self , attribute , value , classRepublican = 0 , classDemocrat = 0 ):
        self.attribute = attribute
        self.classDemocrat = classDemocrat
        self.classRepublican = classRepublican
        self.value = value

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 7.2 : </b>
       Create Decision Tree Class
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [38]:
class DecisionTree:
    def __init__(self):
        self.root = Node()
        self.root.addNode('temp' , "temp")
        
    def createDecisionTree(self , X_DataFrame , y_DataFrame , tree):
        
        X = X_DataFrame.to_numpy()
        #print(feature_array)
        
        y = (y_DataFrame.to_numpy()).reshape(len(y_DataFrame) , 1)
        
        total = X.shape[0]
        
        ones = 0 #To count how many number of democrat
        zeros = 0 #To count how many number of republican
        for i in range(len(y)):
            if y[i] == "republican" :
                ones = ones + 1
            else:
                zeros = zeros + 1
        
        if X.shape[1] == 1 or total == ones or total == zeros:
            if zeros >= ones:
                tree.label = 'democrat'
            else:
                tree.label = 'republican'
            return   
        
        else:
            bestFeature , index = bestAttribute(X_DataFrame , y_DataFrame) #it will hold the name of the feature
            tree.left = Node()
            tree.right = Node()
            
            """ Count the number of reoublican with the only exisiting of the bestFeature"""
            
            
            republicanCountYes = 0
            democratCountYes = 0
            for i in range(len(X)):
                if y[i] == "republican" and X[i , index] == 'y':
                    republicanCountYes = republicanCountYes + 1
                elif y[i] == "democrat" and X[i , index] == 'y':
                    democratCountYes = democratCountYes + 1 
            
            
            republicanCountNo = 0
            democratCountNo = 0
            for i in range(len(X)):
                if y[i] == "republican" and X[i , index] == 'n':
                    republicanCountNo = republicanCountNo + 1
                elif y[i] == "democrat" and X[i , index] == 'n':
                    democratCountNo = democratCountNo + 1 
                    
            tree.left.addNode(bestFeature , "y" , republicanCountYes , democratCountYes)
            tree.right.addNode(bestFeature , "n" , republicanCountNo , democratCountNo)
            
            self.createDecisionTree(X_DataFrame[X_DataFrame[bestFeature]==0].drop([bestFeature], axis=1) , y_DataFrame , tree.left)
            self.createDecisionTree(X_DataFrame[X_DataFrame[bestFeature]==0].drop([bestFeature], axis=1) , y_DataFrame , tree.right)
            
    def predict(self , data , root):
        if root.label is not None:
            return root.label
        elif data[root.left.attribute][data.index.tolist()[0]] == 1:
            return self.predict(data, root.right)
        else:
            return self.predict(data, root.left)
        
    def countNodes(self,node):
        if(node.left is not None and node.right is not None):
            return 2 + self.countNodes(node.left) + self.countNodes(node.right)
        return 0

    
    def countLeaf(self,node):
        if(node.left is None and node.right is None):
            return 1
        return self.countLeaf(node.left) + self.countLeaf(node.right)
        
    

    
def calculateAccuracy(data , label , tree):
    y = (label.to_numpy()).reshape(len(label) , 1)
    correctCount = 0
    for i in data.index:
        val = tree.predict(data.iloc[i:i+1, :] , tree.root)
        if val == y[i]:
            correctCount = correctCount + 1
    return correctCount/data.shape[0]*100

In [39]:
model = DecisionTree()

In [40]:
model.createDecisionTree(X_train , y_train , model.root)

In [41]:
accuracy = calculateAccuracy(X_test , y_test , model)

In [42]:
print('Accuracy without handling overfiiting and underfitting = %.2f'%accuracy , '%')

Accuracy without handling overfiiting and underfitting = 60.62 %

In [43]:
print("Total number of nodes in the tree = "+ str(model.countNodes(model.root)))

Total number of nodes in the tree = 65534

## Part 1
----------------------------------------------------------------------------------

Use the voting data to train a decision tree to predict political party (Democrat or
Republican) based on the voting record. Use 25% of the members of congress for 
training and the rest for testing. Rerun this experiment five times and notice the 
impact of different random splits of the data into training and test sets. Report the 
sizes and accuracies of these trees in each experiment.

In [44]:
for i in range(5):
    data = dataset.sample(frac = 0.25)
    X = data[col_names]
    y = data[['Class Name']]
    indeces = len(X)
    splitIndex = int(np.ceil(0.25 * indeces)) 
    
    X_train = X.iloc[0:splitIndex , :].values
    X_train = pd.DataFrame(X_train , columns = col_names)
    
    y_train = y.iloc[0:splitIndex , :].values
    y_train = pd.DataFrame(y_train , columns = ['Class Name'])
    
    X_test = X.iloc[splitIndex: , :].values
    X_test = pd.DataFrame(X_test , columns = col_names)
    
    y_test = y.iloc[splitIndex: , :].values
    y_test = pd.DataFrame(y_test , columns = ['Class Name'])
    
    model = DecisionTree()
    model.createDecisionTree(X_train , y_train , model.root)
    
    accuracy = calculateAccuracy(X_test , y_test , model)
    print('Accuracy without handling overfiiting and underfitting = %.2f'%accuracy , '% for iteration ' , i)
    print("Total number of nodes in the tree = "+ str(model.countNodes(model.root)) , ' for iteration ' , i)
    print("***************************************************************")

Accuracy without handling overfiiting and underfitting = 56.79 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
***************************************************************
Accuracy without handling overfiiting and underfitting = 51.85 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
***************************************************************
Accuracy without handling overfiiting and underfitting = 66.67 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
***************************************************************
Accuracy without handling overfiiting and underfitting = 40.74 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
***************************************************************
Accuracy without handling overfiiting and underfitting = 62.96 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
***************************************************************

## Part 2
----------------------------------------------------------------------------------

Measure the impact of training set size on the accuracy and the size of the learned 
tree. Consider training set sizes in the range (30-70%). Because of the high variance
due to random splits repeat the experiment with five different random seeds for each
training set size then report the mean, maximum and minimum accuracies at each
training set size. Also measure the mean, max and min tree size.
Start with training data size 30%, 40 Until you reach 70%.
The data set contained many missing values , i.e., votes in which a member of
congress failed to participate. To solve those issue insert for each absent
vote the voting decision of the majority.

In [45]:
splitSize = [0.30 , 0.40 , 0.50 , 0.60 , 0.70]


for i in range(5):
    accuracies = []
    treeSize = []
    print("TrainSize- " , splitSize[i] , " :")
    for j in range(5):
        data = dataset.sample(frac = splitSize[i])
        X = data[col_names]
        y = data[['Class Name']]
        indeces = len(X)
        splitIndex = int(np.ceil(splitSize[i] * indeces)) 

        X_train = X.iloc[0:splitIndex , :].values
        X_train = pd.DataFrame(X_train , columns = col_names)

        y_train = y.iloc[0:splitIndex , :].values
        y_train = pd.DataFrame(y_train , columns = ['Class Name'])

        X_test = X.iloc[splitIndex: , :].values
        X_test = pd.DataFrame(X_test , columns = col_names)

        y_test = y.iloc[splitIndex: , :].values
        y_test = pd.DataFrame(y_test , columns = ['Class Name'])

        model = DecisionTree()
        model.createDecisionTree(X_train , y_train , model.root)

        accuracy = calculateAccuracy(X_test , y_test , model)
        accuracies.append(accuracy)
        treeSize.append(model.countNodes(model.root))
        
        
        print('Accuracy = %.2f'%accuracy , '% for iteration ' , j)
        print("Total number of nodes in the tree = "+ str(model.countNodes(model.root)) , ' for iteration ' , j)
    
    
    print("Report with the min , max ,and mean accuarcies at training size =  " , splitSize[i] * 100 , " %")
    max_accuracy = max(accuracies)
    max_index = accuracies.index(max_accuracy)
    print("Maximum accuracy = " , max_accuracy , " with training size = " , splitSize[i] * 100 , " %")

    print("*******************************************************")

    min_accuracy = min(accuracies)
    min_index = accuracies.index(min_accuracy)
    print("Minimum accuracy = " , min_accuracy , " with training size = " , splitSize[i] * 100 , " %")

    print("*******************************************************")

    total_accuracy = sum(accuracies)
    mean = total_accuracy / len(splitSize)
    print("Mean Accuracies = " , mean , " with training size = " , splitSize[i] * 100 , " %")
    
    
    
    print("Report with the min , max ,and mean sizes at training size =  " , splitSize[i] * 100 , " %")
    max_size = max(treeSize)
    max_index = treeSize.index(max_size)
    print("Maximum tree size = " , max_size , " with training size = " , splitSize[i] * 100 , " %")

    print("*******************************************************")

    min_size = min(treeSize)
    min_index = treeSize.index(min_size)
    print("Minimum tree size = " , min_size , " with training size = " , splitSize[i] * 100 , " %")

    print("*******************************************************")

    total_size = sum(treeSize)
    mean = total_size / len(splitSize)
    print("Mean Sizes = " , mean , " with training size = " , splitSize[i] * 100 , " %")
    print("***************************************************************")

TrainSize-  0.3  :
Accuracy = 60.44 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
Accuracy = 62.64 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
Accuracy = 61.54 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
Accuracy = 65.93 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
Accuracy = 51.65 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
Report with the min , max ,and mean accuarcies at training size =   30.0  %
Maximum accuracy =  65.93406593406593  with training size =  30.0  %
*******************************************************
Minimum accuracy =  51.64835164835166  with training size =  30.0  %
*******************************************************
Mean Accuracies =  60.439560439560445  with training size =  30.0  %
Report with the min , max ,and mean sizes at training size =   30.0  %
Maximum tree size =  65534  with training size =  30.0  %
*******************************************************
Minimum tree size =  65534  with training size =  30.0  %
*******************************************************
Mean Sizes =  65534.0  with training size =  30.0  %
***************************************************************
TrainSize-  0.4  :
Accuracy = 67.31 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
Accuracy = 67.31 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
Accuracy = 61.54 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
Accuracy = 63.46 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
Accuracy = 56.73 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
Report with the min , max ,and mean accuarcies at training size =   40.0  %
Maximum accuracy =  67.3076923076923  with training size =  40.0  %
*******************************************************
Minimum accuracy =  56.730769230769226  with training size =  40.0  %
*******************************************************
Mean Accuracies =  63.269230769230774  with training size =  40.0  %
Report with the min , max ,and mean sizes at training size =   40.0  %
Maximum tree size =  65534  with training size =  40.0  %
*******************************************************
Minimum tree size =  65534  with training size =  40.0  %
*******************************************************
Mean Sizes =  65534.0  with training size =  40.0  %
***************************************************************
TrainSize-  0.5  :
Accuracy = 56.48 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
Accuracy = 61.11 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
Accuracy = 62.96 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
Accuracy = 64.81 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
Accuracy = 66.67 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
Report with the min , max ,and mean accuarcies at training size =   50.0  %
Maximum accuracy =  66.66666666666666  with training size =  50.0  %
*******************************************************
Minimum accuracy =  56.481481481481474  with training size =  50.0  %
*******************************************************
Mean Accuracies =  62.407407407407405  with training size =  50.0  %
Report with the min , max ,and mean sizes at training size =   50.0  %
Maximum tree size =  65534  with training size =  50.0  %
*******************************************************
Minimum tree size =  65534  with training size =  50.0  %
*******************************************************
Mean Sizes =  65534.0  with training size =  50.0  %
***************************************************************
TrainSize-  0.6  :
Accuracy = 54.81 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
Accuracy = 54.81 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
Accuracy = 61.54 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
Accuracy = 60.58 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
Accuracy = 65.38 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
Report with the min , max ,and mean accuarcies at training size =   60.0  %
Maximum accuracy =  65.38461538461539  with training size =  60.0  %
*******************************************************
Minimum accuracy =  54.807692307692314  with training size =  60.0  %
*******************************************************
Mean Accuracies =  59.42307692307693  with training size =  60.0  %
Report with the min , max ,and mean sizes at training size =   60.0  %
Maximum tree size =  65534  with training size =  60.0  %
*******************************************************
Minimum tree size =  65534  with training size =  60.0  %
*******************************************************
Mean Sizes =  65534.0  with training size =  60.0  %
***************************************************************
TrainSize-  0.7  :
Accuracy = 60.44 % for iteration  0
Total number of nodes in the tree = 65534  for iteration  0
Accuracy = 58.24 % for iteration  1
Total number of nodes in the tree = 65534  for iteration  1
Accuracy = 61.54 % for iteration  2
Total number of nodes in the tree = 65534  for iteration  2
Accuracy = 53.85 % for iteration  3
Total number of nodes in the tree = 65534  for iteration  3
Accuracy = 69.23 % for iteration  4
Total number of nodes in the tree = 65534  for iteration  4
Report with the min , max ,and mean accuarcies at training size =   70.0  %
Maximum accuracy =  69.23076923076923  with training size =  70.0  %
*******************************************************
Minimum accuracy =  53.84615384615385  with training size =  70.0  %
*******************************************************
Mean Accuracies =  60.65934065934066  with training size =  70.0  %
Report with the min , max ,and mean sizes at training size =   70.0  %
Maximum tree size =  65534  with training size =  70.0  %
*******************************************************
Minimum tree size =  65534  with training size =  70.0  %
*******************************************************
Mean Sizes =  65534.0  with training size =  70.0  %
***************************************************************